<app-my-component></app-my-component>
<!-- Calculator Body -->

  <p>{{res}}</p>

  <div class="calc-button-row">
      <button class="ac">AC</button>
      <button class="opt">&#43;&#47;&#8722;</button>
      <button class="opt">&#37;</button>
      <button class="opt">&#247;</button>
      <button (click)="clickNum('7')">7</button>
      <button>8</button>
      <button>9</button>
      <button class="opt">&#215;</button>
      <button>4</button>
      <button>5</button>
      <button>6</button>
      <button class="opt">&#8722;</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button (click)="clickOperator('+')" class="opt">&#43;</button>
      <button>0</button>
      <button>.</button>
      <button>&#9003;</button>
      <button class="opt">&#61;</button>
  </div>
  <ul>
    <li *ngFor="let article of Article$ |async" >
    </li>
  </ul>
  <button (click) = "loadArticle()">Load article</button>




